.heading-container{
    /* display: flex;
    justify-content: space-evenly; */
    /* width: 100vw; */
}
.heading{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}