.heading-container{
    /* display: flex;
    justify-content: space-evenly; */
    /* width: 100vw; */
}
.heading{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    border: 1px solid black;
    font-size: large;
    background-color:lightcoral;
    border-radius: 0.75vh;
}